.additional-good__name {
  @include title(16px);
  line-height: 18px;
  margin: 0;
  padding: 0;
  color: #222222;
}

.additional-good__info {
  padding-top: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
}

.additional-good__order {
  @include button();
  margin-top: 15px;
}
