.catalog {
  margin: 0;
  padding: 0;
}

.catalog__wrapper {
  padding: 27px 20px 25px 20px;
}

.catalog__title {
  font-family: $caption-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #000000;
  text-align: left;
}
