.collaboration {
  text-align: left;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.collaboration__wrapper {
  @include alignment();
  padding: 28px 20px 28px 20px;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 66px 30px 51px 30px;
    width: $tablet-width;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 66px 89px 51px 76px;
    width: 570px;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
  }
}

.collaboration__wrapper--form {
  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
  }
}

.collaboration__title {
  margin: 0;
  padding: 0;
  font-family: $caption-font;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    font-size: 20px;
    line-height: 21px;
    width: 211px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    font-size: 20px;
    line-height: 21px;
    width: 163px;
  }
}

.collaboration__contacts {
  margin: 0;
  padding: 0;
  margin-left: 2px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 41px;
    font-size: 16px;
    line-height: 20px;
    width: 200px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    font-size: 16px;
    line-height: 20px;
    width: 155px;
  }
}
