.example {
  background-color: $example-grey;
  color: #000000;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    border-top: 1px solid $page-header-grey;
  }
}

.example__wrapper {
  @include alignment();
  padding: 27px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 33px 30px;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 100%;
  }
}

.example__title {
  margin: 0;
  padding: 0;
  font-family: $caption-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    @include alignment();
    width: $desktop-width;
    padding: 69px 110px 76px 110px;
  }
}

.example__card {
  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.example__card-wrapper {
  @media (min-width: $desktop-width) {
    @include alignment();
    width: $desktop-width;
    padding: 70px 110px 75px 110px;
    display: flex;
    justify-content: space-between;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.example__cell {
  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__table {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}


.example__list {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    justify-content: flex-start;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-left: 42px;
    }
  }
}

.example__text {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  width: 124px;
  font-family: $caption-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }
}

.example__addition {
  margin: 0;
  margin-top: -10px;
  background-color: $example-grey;
  font-size: 12px;
  line-height: 12px;
  width: 80px;

  @media (min-width: $tablet-width) {
    margin-top: -8px;
    width: 127px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-grey;
  }
}

.example__spending {
  margin: 0;
  padding-top: 25px;
  font-family: $caption-font;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    font-size: 20px;
    text-align: right;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-top: 55px;
    text-align: left;
    width: auto;
  }
}

.example__explain {
  margin: 0;
  padding: 0;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    width: 690px;
  }
}

.example__foto {
  @media (min-width: $desktop-width) {
    margin-top: -235px;
    height: 530px;
  }
}
