.form-data {
  font-family: $caption-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
}

.form-data__wrapper {
  @include alignment();
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 30px 0 70px;
  }
}

.form-data__wrapper--flex {
  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
  }
}

.form-data__field {
  margin-left: 13px;
  padding: 13px 15px 13px 15px;
  font-family: $caption-font;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    padding: 10px 21px 10px 21px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-data__text {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(3) {
    padding-bottom: 27px;
  }
}

.form-data__label {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-data__radio-group {
  padding: 22px 0 20px 0;
  border-top: 1px solid $page-header-grey;
  border-bottom: 1px solid $page-header-grey;
}

.form-data__radio {
  margin-top: 13px;

  &:first-child {
    margin-top: 0;
  }
}

.form-data__contacts {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 71px;
  }
}

.form-data__contacts-title {
  margin: 0;
  padding: 0;
  width: 187px;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
  text-transform: initial;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: auto;
  }
}

.form-data__email {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-data__email-label {
  min-width: 50px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 63px;
  }
}

.form-data__phone {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-data__comment {
  padding-top: 24px;
}

.form-data__comment-title {
  margin: 0;
  padding: 0;
  width: 187px;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
  text-transform: initial;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-data__comment-text {
  @include title(16px);
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin-top: 36px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-data__additional {
  padding: 24px 0 34px 0;

  @media (min-width: $tablet-width) {
    padding: 65px 0 52px 0;
  }
}

.form-data__comment-additional {
  margin: 0;
  padding: 0;
  width: 187px;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
  text-transform: initial;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-data__group {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form-data__checkbox {
  margin-top: 13px;
  line-height: 18px;
  color: #000000;

  &:first-child {
    @media (min-width: $tablet-width) {
      margin-right: 123px;
    }
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      margin-top: 32px;
      margin-right: 123px;
    }
  }

  &:nth-child(4) {
    @media (min-width: $tablet-width) {
      margin-top: 32px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 221px;
  }
}

.form-data__submit {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 44px;
  color: #ffffff;
  background-color: $basic-green;
  font-family: $caption-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 0;
  text-transform: uppercase;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    height: 52px;
  }
}

.form-data__required-fields {
  margin: 0;
  padding-top: 21px;
  padding-bottom: 32px;
  font-family: $basic-font;
  color: #000000;
  text-align: center;
  text-transform: initial;

  @media (min-width: $tablet-width) {
    margin-left: 61px;
  }
}
