.form-data {
  font-family: $caption-font;
  text-transform: uppercase;
}

.form-data__text {
  margin-top: 13px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    box-sizing: border-box;
    padding: 13px 15px 13px 15px;
    font-family: $caption-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
  }

  &:first-child {
    margin-top: 0;

    input {
      width: 228px;
    }
  }

  &:nth-child(2) {
    input {
      width: 191px;
    }
  }

  &:nth-child(3) {
    padding-bottom: 27px;
    border-bottom: 1px solid $page-header-grey;

    input {
      width: 172px;
    }
  }
}

.form-data__radio {
  padding: 0 20px;
  margin-top: 13px;

  &:nth-child(4) {
    margin-top: 22px;
  }

  &:nth-child(6) {
    padding-bottom: 20px;
    border-bottom: 1px solid $page-header-grey;
  }
}

.form-data__contacts {
  padding: 26px 20px 0 20px;
}

.form-data__contacts-title {
  margin: 0;
  padding: 0;
  width: 187px;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
  text-transform: initial;
}

.form-data__email {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    box-sizing: border-box;
    padding: 13px 48px 13px 15px;
    font-family: $caption-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    width: 219px;
  }
}

.form-data__phone {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    box-sizing: border-box;
    padding: 13px 68px 13px 16px;
    font-family: $caption-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    width: 204px;
  }
}

.form-data__comment {
  padding: 24px 20px 0 20px;
}

.form-data__comment-title {
  margin: 0;
  padding: 0;
  width: 187px;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
  text-transform: initial;
}

.form-data__comment-text {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin-top: 36px;
  font-family: $caption-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.form-data__additional {
  padding: 24px 20px 34px 20px;
}

.form-data__comment-additional {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  width: 187px;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
  text-transform: initial;
}

.form-data__checkbox {
  margin-top: 13px;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.form-data__wrapper {
  padding: 0 20px;
}

.form-data__submit {
  width: 280px;
  height: 44px;
  color: #ffffff;
  background-color: $basic-green;
  font-family: $caption-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.form-data__required-fields {
  margin-top: 21px;
  font-family: $basic-font;
  color: #000000;
  text-align: center;
  text-transform: initial;
}
