.form-data {
  @include title(16px);
  line-height: 16px;
}

.form-data__wrapper {
  @include alignment();
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    width: 570px;
  }
}

.form-data__additional-wrapper {
  @include alignment();
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
  }
}

.form-data__contacts-wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
  }
}

.form-data__border {
  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    border: 1px solid $special-grey;
  }
}

.form-data__grid {
  @media (min-width: $desktop-width) {
    @include alignment();
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.form-data__field {
  @include title(16px);
  margin-left: 13px;
  padding: 13px 15px 13px 15px;
  width: 100%;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    padding: 10px 21px 10px 21px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-data__text {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(3) {
    padding-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(3) {
      padding-bottom: 72px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(3) {
      padding-bottom: 0;
    }
  }
}

.form-data__label {
  &--radio {
    position: relative;
    padding-left: 45px;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      border: 1px solid $special-grey;
      border-radius: 15px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        top: 0;
      }
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 45px;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      display: block;
      width: 26px;
      height: 26px;
      border: 1px solid $special-grey;
    }

    @media (min-width: $tablet-width) {
      &::before {
        top: 3px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-data__radio-group {
  padding: 22px 0 20px 0;
  border-top: 1px solid $page-header-grey;
  border-bottom: 1px solid $page-header-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.form-data__radio {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  input[type="radio"] {
    display: none;

    &:checked + .form-data__label::after {
      content: "";
      position: absolute;
      top: 6px;
      left: 9px;
      width: 12px;
      height: 12px;
      background-color: $basic-green;
      border-radius: 6px;
    }

    @media (min-width: $tablet-width) {
      &:checked + .form-data__label::after {
        top: 9px;
      }
    }
  }
}

.form-data__contacts {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
  }
}

.form-data__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: initial;
  overflow: hidden;

  &--decorate {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 30%;
      width: 100%;
      height: 2px;
      border-bottom: 2px solid $basic-green;
    }

    &::before {
      margin-left: calc(-100% - 40px);
    }

    &::after {
      margin-left: 35px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 48px;
    padding-left: 70px;

    br {
      display: none;
    }

    &--decorate {
      &::before,
      &::after {
        top: 50%;
      }
    }
  }
}


.form-data__email {
  position: relative;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--img {
    &::after {
      position: absolute;
      content: "";
      top: 13px;
      right: 15px;
      height: 20px;
      width: 20px;
      background: url("../img/icon-email.svg") 50% 50% no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    &--img {
      &::after {
        top: 15px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 570px;
  }
}

.form-data__email-label {
  min-width: 50px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 63px;
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 5px;
      left: 530px;
    }
  }
}

.form-data__phone {
  position: relative;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--img {
    &::after {
      position: absolute;
      content: "";
      top: 13px;
      right: 12px;
      height: 20px;
      width: 20px;
      background: url("../img/icon-phone.svg") 50% 50% no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    &--img {
      &::after {
        top: 15px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 570px;
  }
}

.form-data__comment {
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }
}

.form-data__comment-title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: initial;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid $basic-green;
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-data__comment-text {
  @include title(16px);
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin-top: 36px;
  line-height: 18px;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-data__additional {
  padding: 24px 0 34px 0;

  @media (min-width: $tablet-width) {
    padding: 65px 0 0 0;
  }
}

.form-data__comment-additional {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: initial;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid $basic-green;
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-data__group {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
    display: grid;
    grid-template-columns: 221px 221px;
    column-gap: 123px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 221px 221px 221px 221px;
    column-gap: 104px;
  }
}

.form-data__checkbox {
  line-height: 18px;
  color: #000000;

  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .form-data__label::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      width: 18px;
      height: 14px;
      background: url("../img/icon-checkbox.svg") 50% 50% no-repeat;
    }

    @media (min-width: $tablet-width) {
      &:checked + .form-data__label::after {
        top: 9px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form-data__submit {
  @include title(16px);
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 280px;
  height: 44px;
  color: #ffffff;
  background-color: $basic-green;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    height: 52px;
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form-data__required-fields {
  margin: 0;
  padding-top: 21px;
  padding-bottom: 32px;
  font-family: $basic-font;
  color: #000000;
  text-align: center;
  text-transform: initial;

  @media (min-width: $tablet-width) {
    margin-left: 61px;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    margin-left: 81px;
  }
}

.form-data__send {
  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 61px;
  }
}
