.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/gift-photo-mobile1.svg") 50% 50% no-repeat;
}

.gift__img {
  padding: 0;
  padding-top: 58px;
}

.gift__title {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  width: 161px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
