.good-item {
  border-top: 1px solid $page-header-grey;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.good-item__wrapper {
  @include alignment();
  padding: 19px 20px 25px 20px;
}

.good-item__table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.good-item__link {
  text-decoration: none;
}

.good-item__name {
  @include title(16px);
  margin: 0;
  padding: 0;
  width: 76px;
  color: #222222;
}

.good-item__info {
  justify-self: stretch;
}

.good-item__table-info {
  padding: 0;
  margin-top: 18px;
  font-size: 12px;
  color: $special-dark-grey;
  text-decoration: none;
}

.good-item__name-value {
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
    padding: 0;
  }
}

.good-item__order {
  @include button();
}
