.how-work {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.how-work__wrapper {
  @include alignment($mobile-width);
  padding: 27px 20px 42px 20px;
}

.how-work__title {
  margin: 0;
  padding: 0;
  font-family: $caption-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: #000000;
}

.how-work__list {
  margin: 0;
  padding: 38px 0 0 0;
  list-style: none;
}

.how-work__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: $special-dark-grey;

  &:last-child {
    margin-bottom: 0;
  }
}

.how-work__text {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
