.how-work__wrapper {
  @include alignment();
  padding: 27px 20px 42px 20px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 47px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 110px 0 110px;
  }
}

.how-work__title {
  margin: 0;
  padding: 0;
  font-family: $caption-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-work__list {
  margin: 0;
  padding: 38px 0 0 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(249px, 1fr));
    justify-content: center;
    column-gap: 135px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, minmax(249px, 1fr));
    column-gap: 74px;
  }
}

.how-work__item {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: $special-dark-grey;

  &--issue {
    @media (min-width: $tablet-width) {
      background: url("../img/2.svg") no-repeat 75% 100%;
    }
  }

  &--reception {
    @media (min-width: $tablet-width) {
      background: url("../img/3.svg") no-repeat 75% 100%;
    }
  }

  &--result {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      background: url("../img/4.svg") no-repeat 75% 100%;
      grid-column: 2;
    }

    @media (min-width: $desktop-width) {
      grid-column: 4;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 37px;
    padding-top: 50px;
    width: 249px;
    height: 280px;

    &--health {
      &::after {
        @include title(280px);
        content: "1";
        line-height: 0;
        position: absolute;
        top: 150px;
        right: 20px;
        color: $basic-grey;
      }
    }

    &--issue {
      &::after {
        @include title(280px);
        content: "2";
        line-height: 0;
        position: absolute;
        top: 150px;
        right: 20px;
        color: $basic-grey;
      }
    }

    &--reception {
      &::after {
        @include title(280px);
        content: "3";
        line-height: 0;
        position: absolute;
        top: 150px;
        right: 20px;
        color: $basic-grey;
      }
    }

    &--result {
      &::after {
        @include title(280px);
        content: "4";
        line-height: 0;
        position: absolute;
        top: 150px;
        right: 20px;
        color: $basic-grey;
      }
    }
  }
}

.how-work__img {
  min-width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    min-width: 80px;
    height: 80px;
  }
}

.how-work__text {
  margin: 0;
  padding: 0;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 999;
    margin-left: 0;
    padding-top: 31px;
    font-size: 16px;
    line-height: 24px;
  }
}
