.main-nav {
  position: relative;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  &--nojs .main-nav__toggle {
    display: none;
  }

  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0  #000000, 0 16px 0 0  #000000;
  }

  &--closed .main-nav__toggle:active::before {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
  }

  &--closed .main-nav__list {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

