.main-nav {
  position: relative;

  &--closed {
    .main-nav__list {
      @media (max-width: $mobile-width-only) {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
