.map {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.map__wrapper {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.map__collaboration {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
