.page {
  height: 100%;
}

.page__body {
  min-width: $mobile-width;
  min-height: 100%;
  margin: 0;
  font-family: $basic-font;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  background-color: #ffffff;
  color: $special-dark-grey;
}
