.page-header {
  position: relative;
  z-index: 999;
  color: #000000;

  font-family: $caption-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;

  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
}

.page-header__wrapper {
  @include alignment();
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 24px 30px 0 30px;
    flex-direction: row;
    justify-content: space-between;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 110px 0 110px;
    flex-direction: row;
    justify-content: space-between;
    width: $desktop-width;
  }
}

.page-header__container {
  padding: 0 20px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 174px;
  }
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    img {
      width: 55px;
      height: auto;
    }
  }
}
