.page {
  height: 100%;
}

.page__body {
  position: relative;
  min-width: $mobile-width;
  min-height: 100%;
  margin: 0 auto;
  font-family: $basic-font;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  background-color: #ffffff;
  color: $special-dark-grey;
}

.page__background-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 696px;
  }
}

.page__background-right {
  background: $special-dark-grey url("../img/background-desktop.svg") 50% 50% no-repeat;
  background-size: cover;
}

.page__background-color {
  width: 100%;
  height: 100%;
  background-color: $light-green;
}
