.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  @include alignment();
  padding: 39px 20px 22px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 55px 30px 61px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px 110px;
  }
}

.page-footer__logo-text {
  padding-bottom: 32px;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
}

.page-footer__social {
  padding: 20px 0;
  border-top: 1px solid $page-footer-grey;
  border-bottom: 1px solid $page-footer-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    justify-content: center;
    border: none;
  }
}

.page-footer__copyright {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
