.page-header {
  position: relative;
  z-index: 999;
  color: #000000;

  font-family: $caption-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;

  span {
    width: 24px;
    height: 24px;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header__wrapper {
  @include alignment();
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 24px 30px 0 30px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1220px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 110px 0 110px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
  }
}

.page-header__container {
  padding: 0 20px;
  height: 66px;
  display: grid;
  grid-template-columns: 38px 101px 24px;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 174px;
    height: 52px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 202px;
    height: 59px;
  }
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    img {
      width: 55px;
    }
  }
}
