.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: $special_dark_grey;
}
