.program-form {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.program-form__wrapper {
  @include alignment();
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-top: 65px;
  }
}

.program-form__promo {
  padding: 0 20px;
  font-family: $caption-font;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 70px;
  }
}

.program-form__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.program-form__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 37px;
  width: 226px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
}

.program-form__fields {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
  }
}
