.program {
  background-color: #ffffff;
}

.program__promo-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (min-width: $desktop-width) {
    height: 571px;
  }
}

.program__promo-wrapper {
  width: 100%;
  background: $light-green;

  @media (min-width: $tablet-width) {
    background: #ffffff;
  }
}

.program__promo-img {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 696px;
      background: $special-dark-grey url("../img/background-desktop.png") 50% 50% no-repeat;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 696px;
      background-color: $light-green;
    }
  }
}

.program__promo-link {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.program__promo {
  @include alignment();
  align-items: center;
  font-family: $caption-font;
  color: #ffffff;
  background: $special-dark-grey url("../img/background-mobile.png") 0% 0% no-repeat;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    padding: 62px 30px 0 30px;
    align-items: flex-start;
    color: #000000;
    background: #ffffff;
  }

  @media (min-width: $desktop-width) {
    padding: 111px 110px 0 110px;
    display: flex;
    color: #000000;
    background: #ffffff;
  }
}

.program__wrapper {
  @include alignment();
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
  }
}

.program__background {
  height: 302px;
  background-color: $light-green;

  @media (min-width: $tablet-width) {
    height: auto;
    background-color: #ffffff;
  }
}

.program__text {
  @media (min-width: $tablet-width) {
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.program__caption {
  margin: 0;
  padding: 27px 35px 0 36px;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    text-align: left;
    width: 501px;
  }
}

.program__slogan {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
  }
}

.program__img {
  width: 280px;
  height: 270px;
  margin-top: -140px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 609px;
    margin-top: -83px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 999;
    margin-top: -360px;
    margin-left: 250px;
    width: 552px;
    height: 499px;
  }
}

.program__choice {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $caption-font;
  text-align: center;
}

.program__link-wrapper {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 49px;
    margin-left: 82px;
    padding: 0;
    width: 244px;
  }
}

.program__link {
  padding: 11px 0;
  display: block;
  color: #ffffff;
  background-color: $basic-green;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.program__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
  }
}

.program__item {
  margin-bottom: 20px;
  padding: 30px 20px 18px 20px;
  background-color: $basic-grey;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 77px 53px 53px 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 41px 51px 55px 52px;
  }
}

.program__item-card {
  display: grid;
  grid-template-rows: 53px 140px 40px;

  &--slim {
    grid-template-columns: 50px 1fr;

    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 200px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 100px 1fr;
    }
  }

  &--pro {
    grid-template-columns: 67px 1fr;

    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 268px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 134px 1fr;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-rows: 40px 145px 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 106px 140px 40px;
  }
}

.program__item-img {
  &--slim {
    width: 50px;
    height: 53px;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: left;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 211px;
      grid-row: 1/4;
      grid-column: 2/3;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      grid-row: 1/2;
      grid-column: 1/2;
    }
  }

  &--pro {
    width: 67px;
    height: 50px;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: left;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      grid-row: 1/4;
      grid-column: 2/3;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      grid-row: 1/2;
      grid-column: 1/2;
    }
  }
}


.program__title {
  @include title(24px);
  line-height: 37px;
  color: #000000;
  margin: 0;
  padding: 0;
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;

  &--slim {
    padding-left: 19px;

    @media (min-width: $tablet-width) {
      padding-left: 0;
    }

    @media (min-width: $desktop-width) {
      padding-left: 62px;
    }
  }

  &--pro {
    padding-left: 11px;

    @media (min-width: $tablet-width) {
      padding-left: 0;
    }

    @media (min-width: $desktop-width) {
      padding-left: 47px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    grid-column: 2/3;
  }
}

.program__description {
  margin: 0;
  padding: 22px 0 23px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: $special-dark-grey;
  border-bottom: 1px solid #d9d9d9;
  grid-column: span 2;
  grid-row: 2/3;

  &--slim {
    width: 227px;

    @media (min-width: $tablet-width) {
      width: 377px;
    }

    @media (min-width: $desktop-width) {
      width: 467px;
    }
  }

  &--pro {
    width: 227px;

    @media (min-width: $tablet-width) {
      width: 342px;
    }

    @media (min-width: $desktop-width) {
      width: 457px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 24px;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    padding-top: 39px;
    width: auto;
    grid-column: span 2;
  }
}

.program__catalog {
  @include title(16px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  line-height: 16px;
  color: #000000;
  grid-row: 3/4;
  grid-column: span 2;

  &--pointer {
    text-decoration: none;

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    grid-column: 1/2;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 2;
  }
}

.program__catalog-name {
  position: relative;
  margin-right: 15px;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 100px;
    width: 32px;
    height: 12px;
    background: url("../img/arrow.svg") 0 0 no-repeat;
  }

  &:hover {
    &::after {
      left: 104px;
      transform: scale(1.25, 1);
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 9px;
      left: 133px;
    }

    &:hover {
      &::after {
        left: 137px;
        transform: scale(1.25, 1);
      }
    }
  }
}
