.site-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__item {
  padding: 22px 0 24px 0;
  border-top: 1px solid $page-header-grey;
  width: auto;
  text-align: center;

  &:nth-child(3) {
    border-bottom: 1px solid $page-header-grey;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  a {
    padding-bottom: 5px;
    text-decoration: none;
    color: #000000;

    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 18px 0 24px 0;
    font-size: 18px;
    line-height: 24px;
    border-top: none;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 0 8px 0;
    font-size: 20px;
    line-height: 30px;
  }

  &--active a {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $basic-green;
    }

    @media (min-width: $desktop-width) {
      border-bottom: 2px solid #ffffff;
    }
  }

  &--active.site-list__item--black {
    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $basic-green;
    }
  }

  &--black a {
    @media (min-width: $desktop-width) {
      color: #000000;
    }
  }
}
