.site-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  color: #000000;

  a {
    display: block;
    color: #000000;

    &[href] {
      @media (min-width: $tablet-width) {
        &:hover {
          opacity: 0.6;
        }

        &:active {
          opacity: 0.3;
        }
      }
    }
  }

  &--home-page {
    a {
      @media (min-width: $desktop-width) {
        color: #ffffff;
      }
    }

    .site-list__item--active {
      position: relative;

      @media (min-width: $desktop-width) {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 15px;
          height: 2px;
          background-color: #ffffff;
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    width: 494px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.site-list__item {
  border-top: 1px solid $page-header-grey;
  width: auto;
  text-align: center;

  &:nth-child(3) {
    border-bottom: 1px solid $page-header-grey;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  a {
    padding: 22px 0 24px 0;
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    border-top: none;
    border-bottom: none;
    margin-left: 34px;

    a {
      padding: 18px 0 24px 0;
      text-decoration: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--active {
    position: relative;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        height: 2px;
        background-color: $basic-green;
      }
    }
  }
}
