.site-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__item {
  padding: 22px 0 24px 0;
  border-top: 1px solid $page-header-grey;
  width: auto;
  text-align: center;

  &:last-child {
    border-bottom: 1px solid $page-header-grey;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    border-top: none;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
