.slider {
  text-align: center;
  color: #000000;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.slider__foto {
  @media (min-width: $desktop-width) {
    margin-top: -235px;
    height: 530px;
  }
}

.slider__toggles {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.slider__toggle {
  @include title(16px);
  border: none;
  outline: none;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
