.social {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    list-style: none;
  }

  &__item a {
    color: #000000;
  }

  &__link {
    width: 23px;
    height: 22px;
    display: block;
  }

  &__link--vkontakte {
    background: url("../img/icon_vkontakte.svg") 50% 50% no-repeat;
  }

  &__link--instagram {
    margin-left: 36px;
    margin-right: 33px;
    background: url("../img/icon_instagram.svg") 50% 50% no-repeat;
  }

  &__link--facebook {
    background: url("../img/icon_facebook.svg") 50% 50% no-repeat;
  }
}
