.social {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  list-style: none;

  a {
    color: #000000;
  }
}

.social__link {
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--vkontakte,
  &--instagram {
    svg {
      path {
        fill: #666666;
      }
    }

    &:hover {
      svg {
        path {
          fill: $basic-green;
        }
      }
    }

    &:active {
      svg {
        path {
          fill: $basic-green;
          opacity: 0.3;
        }
      }
    }
  }

  &--vkontakte {
    svg {
      width: 23px;
      height: 16px;
    }
  }

  &--instagram {
    margin-left: 36px;
    margin-right: 33px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &--facebook {
    svg {
      width: 13px;
      height: 20px;

      path {
        stroke: #666666;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $basic-green;
        }
      }
    }

    &:active {
      svg {
        path {
          stroke: $basic-green;
          opacity: 0.3;
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 30px;

    &--vkontakte {
      svg {
        width: 30px;
        height: 22px;
      }
    }

    &--instagram {
      margin-left: 20px;
      margin-right: 15px;

      svg {
        width: 23px;
        height: 23px;
      }
    }

    &--facebook {
      svg {
        width: 26px;
        height: 32px;
      }
    }
  }
}
