@mixin alignment() {
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

@mixin title($font-size) {
  font-family: $caption-font;
  font-size: $font-size;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

@mixin button() {
  @include title(16px);
  display: block;
  width: 100%;
  margin-top: 22px;
  padding: 10px 0;
  background-color: $basic-green;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
