@mixin alignment() {
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

@mixin title($font-size) {
  font-family: $caption-font;
  font-size: $font-size;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

@mixin button() {
  @include title(16px);
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: $basic-green;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

@mixin line() {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -150%;
    height: 2px;
    border-bottom: 2px solid $basic-green;
    width: 700%;
  }
}
