$basic_green: #68b738;
$light_green: rgba(104, 183, 56, 0.85);
$basic_grey: #f2f2f2;
$special_dark_grey: #444444;
$page_header_grey: #e6e6e6;
$page_footer_grey: #d9d9d9;
$example_grey: #eaeaea;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
